.containerDashboard{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var( --color-grey4);
    padding: 2rem;
    gap: 6rem;

}
.header{
    display: flex;
    justify-content: space-around;
    width: 100%;

    .h1{
        color: var(--color-primary);
        font-family: var(--font-primary);
    }
    a{
        width: 7%;
    }

}

.divContent{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
    gap: 12rem;

}
.divFooter{
    width: 78%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-wrap: wrap;
    align-content: center;
}

@media (max-width: 1000px){
    .header{
        justify-content: space-between;

        a{
            width: 20%;
        }
    }
    .divContent{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-content: baseline;
    }  
    .divFooter{
        align-content: baseline;
    } 
}