:root{
    --color-primary: #ff577f;
    --color-primaryFocus: #ff427f;
    --color-primaryNegative: #59323f;

    --color-grey0: #f8f9fa;
    --color-grey1: #868e96;
    --color-grey2: #343b41;
    --color-grey3: #212529;
    --color-grey4: #121214;

    --font-primary: 'Inter', sans-serif;
}